body {
    background-color: white;
    margin: auto;
    width: 60%;
    line-height: 2.5;
    font-size: 18px;
}

header {
    font-weight: bold;
    font-size: 20px;
}

.songs {
    display: flex;
    flex-wrap: wrap;
}
