body {
    background-color: cornsilk;
    margin: auto;
    width: 60%;
}

header {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.songs {
    display: flex;
    flex-wrap: wrap;
}
